body{
    font-family:jaf-facitweb,Helvetica,Arial,sans-serif;
    color: #4D4D4D;
    margin: 0 auto;
    width:100%;
    font-size: 20px;
   text-align: center;
}
section{
    width: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
}
h1{
    font-size: 40px;
    padding-left: 15%;
    padding-right: 15%;
}
p{
    padding-left: 25%;
    padding-right: 25%;
}
#img{
    width: 80%;
    margin-bottom: 0px;
}
#border{
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.fondoazul{
    background: #0079bf;
    color: white;
}
.fondoazul p{
    text-align: left;
}
.fondoclaro{
     background:#e4f0f6; 
}
.fondomorado{
    background: #42548e;
    color: white;
}
.separador{
    display: inline-block;
    width: 40%;
    text-align: left;
}
.separador p{
    padding: 0px;
    width: 90%;
}
.linea{
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
}
#btn1{
    background: #61bd4f;
    width: 270px;
    height: 45px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
#btn2{
     background: transparent;
     width: 290px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    border-bottom-color: #0079bf;
    padding: 10px;
    color:  #0079bf;
}
#btn3{
    background: transparent;
    width: 360px;
    height: 45px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    padding: 10px;
    padding: 10px;
}
#img17{
    padding-top: 20px;
    height:130px;
}
#opciones{
    color: #999;
}
footer{
    padding: 40px;
    font-size: 17px;
    color: #999;
}

/*SMART PHONE*/
@media only screen and (max-width: 480px){
    body{
        background: antiquewhite;
        font-size: 16px;
    }
    section{
        padding-top: 2%;
        padding-bottom:2%;
    }
    #btn1,#btn2,#btn3{
        width: auto;
    }
    .separador{
        width: 90%;
        display: block;
        padding-left: 5%;
    }
    h1{
        font-size: 20px;
    }
    p{
    padding-left: 5%;
    padding-right: 5%;
   }
}
/*TABLETS*/
@media only screen and (min-width: 481px) and (max-width: 720px){
    body{
        background: #0079bf;
    }
     section{
        padding-top: 2%;
        padding-bottom:2%;
    }
    #btn1,#btn2,#btn3{
        width: auto;
    }
    .separador{
        width: 90%;
        display: block;
        padding-left: 5%;
    }
    h1{
        font-size: 20px;
    }
    p{
    padding-left: 5%;
    padding-right: 5%;
   }
}
/*COMPUTADORAS*/
@media only screen and (min-width: 721px) and (max-width: 1280px){
	  body{
        background:#e4f0f6; 
    }   
}