body{
	font-family: Helvetica, sans-serif;
	margin: 0 auto;
	width:100%;
    height: 100%;
    text-align: center;
    align-content: center;
	}

button{
    background: #61bd4f;
    width: 256px;
    height: 45px;
    font-size: 20px;
    font:Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 10px;
}
section{
    width: 100%;
    float: left;
}
#parte1{
    text-align: center;
    align-content: center;
    width: 600px;
    height: 450px;
    float: left;
    padding-top: 120px;
    padding: 110px;
    margin-left: 310px; 
}
#slogan{
    font-size: 32px;
    color: #4D4D4D;
    text-align: center;
    width: 690px; 
    font: Helvetica;
    font-weight: bold;
}
#slogan2{
    font-size: 18px;
     color: #4D4D4D;
    text-align: center;
    width: 430px;
    margin-left: 110px;
    margin-right: 150px;
    font: Helvetica;
}
#link1{
     color: #4D4D4D;
    font-size: 18px;
    font: Helvetica
}
#parte2{
   background: #0079bf;
    align-content: center;
    color: white;
    width: 100%;
    height: 100%;
    padding-top: 60px;
    padding: 60px;
   
}
#img2{
    width: 750px;
    height: 400px;
    padding: 30px;
    padding-left: 35px;
}
#pt21{
   width: 500px;
   margin-left: 360px;
   font-size: 18px; 
   text-align: left;
}
#pt23{
    width: 500px;
    margin-left: 360px;
    font-size: 18px;
    text-align: left;
    
}
#parte3{
     background:white;
    align-content: center;
    width: 100%;
    height: 100%;
    padding-top: 60px;   
}
#p31{
    width: 480px;
    margin-left: 400px;
    font-size: 18px;
    text-align: center;
}
#btn2{
   text-align: center;
    width: 330px;
   align-content: center;
   border-radius: 10px;
   color:deepskyblue;
   background-color: transparent;
   border-bottom-color: aqua;
   font-size: 16px;
   font:Helvetica;
   text-align: center;
   padding-bottom: 5px;
   padding: 20px;
}
#img3{
    display: block;
    padding-top: 30px;
    margin-left: 200px;
}
#parte4{
    background:#e4f0f6; 
    padding-top: 100px;
    padding: 100px;
    align-content: center;
    width: 100%;
    height: 100%;
}
#pt41{
    
     width: 500px;
   margin-left: 360px;
   font-size: 18px; 
   text-align: left;
}
#img4{
    width: 500px;
   margin-left: 360px;
   font-size: 18px; 
   text-align: left;
}
#img5{
     width: 500px;
   margin-left: 360px;
   font-size: 18px; 
   text-align: right;
}
#btn3{
   text-align: center;
   width: 300px;
   margin-left: 170px;
   border-radius: 10px;
   color:deepskyblue;
   background-color: transparent;
   border-bottom-color: aqua;
   font-size: 16px;
   font:Helvetica;
   text-align: center;
   padding-bottom: 2px;
   padding: 20px;
   display: block;
}
#img6{
    width: 340px;
    height: 180px;
    margin-right: 530px;
}
#a1{
    width: 50%;
    float: left;
}
#a2{
    width: 50%;
    float: left;
}
#parte5{
    padding-top: 100px;
    padding: 100px;
}
#pt52{
    width: 400px;
    text-align: justify;
    margin-left: 400px;
    display: inline;
}
#5a1{
    width: 50%;
    float: left;
}
#5a2{
    width: 50%;
    float: left;
}
#img7{
     width: 250px;
    height: 200px;
    margin-right: 470px;
    margin-right: 470px;
}
#parte6{
   background: #0079bf;
    text-align:center;
    align-content: center;
    color: white;
    width: 100%;
    height: 100%;
    float: left;
    padding-top: 100px;
    padding: 100px;
    margin-right: 500px;
}
#imglista{
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
    ;
}
#imglista2{
    padding-left: 15px;
    padding-right: 15px;
    display: inline;
}
#lista{
    margin-right: 70px;
}
#parte7{
    background: #42548e;
}
#parte9{
   background: #0079bf;
    text-align:center;
    align-content: center;
    color: white;
    width: 100%;
    height: 100%;
    float: left;
}

#p1{
    display: inline;
}
#lista{
    display: inline-block;
    text-align: center;
}
ul#opciones a {
    display:inline;
   
}
